table {
    width:100%;
}
table, th, td {
    border: 1px solid #231f1f;
    border-collapse: collapse;
}
td {
    padding: 4px;
    text-align: center;
    color:#231f20;
}
th {
    padding: 4px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #f9f9f9;
}
table#t01 tr:nth-child(odd) {
    background-color:#ffffff;
}
table#t01 th	{
    background-color: #0074a0;
    color: #ffffff;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #231f1f;  
    }
h1 {
	color:#ffb800;	
	text-align: center;
}
p.header {
	text-align: center;
}
p.white_link {
	color:#ffffff;
	font-size:18px;
    display: inline;
}
p:hover { color: #ffb800; text-decoration: none}

a:link { color: #000000; text-decoration: none;}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #ffb800; text-decoration: none}
a:active { color: #000000; text-decoration: none}

.container { position:relative; padding:0 0 0 55px; }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
}

#banner { text-align: center; margin:0 0 5px 0; }
#chart { margin:5px 0 5px 0; padding: 50px; }
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}